
*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: sans-serif;
    background: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
